<p>Till den det berör,</p>

<p>Jag har noterat att ni använder min bild från Wikimedia Commons <span data-content="descr"></span> på följande sida:<br />
    <span class="indent" data-content="usage"></span>
</p>

<p>Mitt original finns <span data-content="upload_date"></span> tillgänglig på följande sida:<br />
    <span class="indent" data-content="file_url"></span>
</p>

<p>Tyvärr verkar det som att ni inte har respekterat min upphovsrätt, trots att jag generöst har licensierat bilden under en Creative Commons-licens.</p>

<p>Det ni behöver göra är att:
<br />
    <span class="indent">Tala om att det är jag som har tagit bilden:</span> <span class="cmt" data-content="credit"></span><br />
    <span class="indent">Tala om vilken licens bilden är tillgänglig under:</span> <span class="cmt" data-content="license_title"></span><br />
    <span class="indent">Länka till licenstexten:</span> <span class="cmt" data-content="license_url"></span><br />
    <span class="indent">Ange bildens titel:</span> <span class="cmt" data-content="file_title"></span><br />
    <span class="indent">Länka till där ni har hämtat bilden ifrån</span> <span class="cmt" data-content="file_url"></span><br />
    <span class="indent">Om ni har gjort ändringar i bilden bör även detta nämnas.</span>
</p>

<p>Exempel på hur detta kan se ut:
<br />
    <span class="indent">Online:</span> <span data-content="example_online"></span><br />
    <span class="indent">I tryck:</span> <span data-content="example_offline"></span>
</p>

<p>Om dessa villkor ej uppfylls är licensen inte applicerbar för er användning.
Ert bruk av bilden utgör således en olovlig användning av upphovsrättsligt skyddat material
för vilket ersättning kan krävas i enlighet med upphovsrättslagen.</p>

<p>Hälsningar,</p>

<p>[Namn]</p>
