<ul>
    <li>Description: <span data-content="descr"></span></li>
    <li>Usage: <span data-content="usage"></span></li>
    <li>Upload date: <span data-content="upload_date"></span></li>
    <li>file_url: <span data-content="file_url"></span></li>
    <li>License_name: <span data-content="license_title"></span></li>
    <li>License_url: <span data-content="license_url"></span></li>
    <li>Example (online): <a data-content="file_title" data-href="file_url"></a> / <span data-content="credit"></span> / <a data-content="license_title" data-href="license_url"></a></li>
    <li>Exempel (offline): <span data-content="file_title"></span> @ Wikimedia Commons / <span data-content-text="credit_plain"></span> / <span data-content="license_title"></span></li>
</ul>
