<ul>
    <li><label>Description:</label> <span data-content="descr"></span></li>
    <li><label>Usage:</label> <span data-content="usage"></span></li>
    <li><label>Upload date:</label> <span data-content="upload_date"></span></li>
    <li><label>File_title:</label> <span data-content="file_title"></span></li>
    <li><label>File_url:</label> <span data-content="file_url"></span></li>
    <li><label>License_name:</label> <span data-content="license_title"></span></li>
    <li><label>License_url:</label> <span data-content="license_url"></span></li>
    <li><label>Credit:</label> <span data-content="credit"></span></li>
    <li><label>Example (online):</label> <span data-content="example_online"></span></li>
    <li><label>Exempel (offline):</label> <span data-content="example_offline"></span></li>
</ul>
