<p>Hej!</p>

<p>Kul att ni använder min bild från Wikimedia Commons <span data-content="descr"></span> på den här sidan:

<span data-content="usage"></span></p>

<p>Mitt original kan ju skådas här <span data-content="upload_date"></span>:</p>

<p><span data-content="file_url"></span></p>

<p>Dock är jag sorgsen att se att ni inte har respekterat min upphovsrätt, trots att jag har varit generös och licensierat den under en Creative Commons licens. Det ni behöver göra är:
<br />
    <span class="indent">Tala om att det är jag som har tagit bilden:</span> <span data-content="credit"></span><br />
    <span class="indent">Tala om vilken licens bilden är tillgänglig under:</span> <span data-content="license_title"></span><br />
    <span class="indent">Länka till licenstexten:</span> <span data-content="license_url"></span><br />
    <span class="indent">Ange bildens titel:</span> <span data-content="file_title"></span><br />
    <span class="indent">Länka till där ni har hämtat bilden ifrån</span> <span data-content="file_url"></span><br />
</p>
<p>
    Exempel (online): <span data-content="example_online"></span><br />
    Exempel (i tryck): <span data-content="example_offline"></span>
</p>

<p>Om du har gjort ändringar i bilden bör även detta nämnas.</p>

<p>Endast om ni uppfyller de enkla villkoren är ni fria att använda min bild utan annan ersättning fortsättningsvis.</p>

<p>Med vänliga hälsningar</p>

<p>[Namn]</p>
