<p>Hej!</p>

<p>Det var kul att se att ni använder min bild från Wikimedia Commons <span data-content="descr"></span> på den här sidan:<br />
    <span class="indent" data-content="usage"></span>
</p>

<p>Mitt original finns <span data-content="upload_date"></span> på den här sidan:<br />
    <span class="indent" data-content="file_url"></span>
</p>

<p>Dock verkar det som att ni missat att uppfylla de villkor som gäller för den Creative Commons-licens jag gjort bilden tillgänglig under.</p>

<p>Det ni behöver göra är att:
<br />
    <span class="indent">Tala om att det är jag som har tagit bilden:</span> <span class="cmt" data-content="credit"></span><br />
    <span class="indent">Tala om vilken licens bilden är tillgänglig under:</span> <span class="cmt" data-content="license_title"></span><br />
    <span class="indent">Länka till licenstexten:</span> <span class="cmt" data-content="license_url"></span><br />
    <span class="indent">Ange bildens titel:</span> <span class="cmt" data-content="file_title"></span><br />
    <span class="indent">Länka till där ni har hämtat bilden ifrån</span> <span class="cmt" data-content="file_url"></span><br />
    <span class="indent">Om ni har gjort ändringar i bilden bör även detta nämnas.</span>
</p>

<p>Exempel på hur detta kan se ut:
<br />
    <span class="indent">Online:</span> <span data-content="example_online"></span><br />
    <span class="indent">I tryck:</span> <span data-content="example_offline"></span>
</p>

<p>Endast om ni uppfyller dessa enkla villkor är er användning under Creative Commons-licensen giltig.</p>

<p>Med vänliga hälsningar,</p>

<p>[Namn]</p>
