<p>Hej!</p>

<p>Det var kul att se att ni använder min bild från Wikimedia Commons <span data-content="descr"></span> på den här sidan:<br />
    <span class="indent" data-content="usage"></span>
</p>

<p>Mitt original finns <span data-content="upload_date"></span> på den här sidan:<br />
    <span class="indent" data-content="file_url"></span>
</p>

<p>Dock verkar det som att ni missat att uppfylla de villkor som gäller för den Creative Commons-licens jag gjort bilden tillgänglig under.</p>

<p>Det ni behöver göra är att:
<br />
    <li>Tala om att det är jag som har tagit bilden: <span class="cmt" data-content="credit"></span></li>
    <li>Tala om vilken licens bilden är tillgänglig under: <span class="cmt" data-content="license_title"></span></li>
    <li>Länka till licenstexten: <span class="cmt" data-content="license_url"></span></li>
    <li>Ange bildens titel: <span class="cmt" data-content="file_title"></span></li>
    <li>Länka till där ni har hämtat bilden ifrån <span class="cmt" data-content="file_url"></span></li>
    <li>Om ni har gjort ändringar i bilden bör även detta nämnas.</li>
</p>

<p>Exempel på hur detta kan se ut:
    <ul>
    <label>Online:</label> <span data-content="example_online"></span></li>
    <label>I tryck:</label> <span data-content="example_offline"></span></li>
    </ul>
</p>

<p>Endast om ni uppfyller dessa enkla villkor är er användning under Creative Commons-licensen giltig.</p>

<p>Med vänliga hälsningar,</p>

<p>[Namn]</p>
