
<p>¡Hola!</p>

<p>Veo que estás usando mi imagen de Wikimedia Commons<span data-content="descr"></span> en esta página: <br />
    <span class="indent" data-content="usage"></span>
</p>

<p>Mi imagen original está<span data-content="upload_date"></span> en esta página: <br />
    <span class="indent" data-content="file_url"></span>
</p>

<p>De todas formas, resulta un tanto decepcionante que no hayas respetado mi copyright a pesar de que la imagen se encuentra bajo una licencia Creative Commons.</p>

<p>Lo que necesitas hacer es:
    <ul>
    <li>Mencionar que yo realicé la imagen: <span class="cmt" data-content="credit"></span></li>
    <li>Mencionar bajo qué licencia se encuentra disponible la imagen: <span class="cmt" data-content="license_title"></span></li>
    <li>Enlazar al texto de la licencia: <span class="cmt" data-content="license_url"></span></li>
    <li>Indicar el título de la imagen: <span class="cmt" data-content="file_title"></span></li>
    <li>Enlazar al lugar de dónde obtuviste la imagen: <span class="cmt" data-content="file_url"></span></li>
    <li>Si realizaste cambios en la imagen también debes mencionarlos.</li>
    </ul>
</p>

<p>A continuación, algunos ejemplos de cómo puedes hacerlo:
    <ul>
    <label>Online:</label> <span data-content="example_online"></span></li>
    <label>In print:</label> <span data-content="example_offline"></span></li>
    </ul>
</p>

<p>Solo si cumples estas sencillas instrucciones cumplirás las condiciones de la licencia Creative Commons.</p>

<p>Saludos,</p>

<p>[Name]</p>
