<p>Hello!</p>

<p>I see that you are using my image from Wikimedia Commons<span data-content="descr"></span> on this page: <br />
    <span class="indent" data-content="usage"></span>
</p>

<p>My original is available<span data-content="upload_date"></span> on this page: <br />
    <span class="indent" data-content="file_url"></span>
</p>

<p>However, I am sad to see that you didn't respect my copyright even though I generously licensed the image under a Creative Commons license.</p>

<p>What you need to do is to:
    <ul>
    <li>Mention that I made the image: <span class="cmt" data-content="credit"></span></li>
    <li>Mention under what license the image is available under: <span class="cmt" data-content="license_title"></span></li>
    <li>Link to the licence text: <span class="cmt" data-content="license_url"></span></li>
    <li>State the image title: <span class="cmt" data-content="file_title"></span></li>
    <li>Link to where you got the image: <span class="cmt" data-content="file_url"></span></li>
    <li>If you made changes to the image you should mention that as well.</li>
    </ul>
</p>

<p>Here are some examples on how you can do that:
    <ul>
    <label>Online:</label> <span data-content="example_online"></span></li>
    <label>In print:</label> <span data-content="example_offline"></span></li>
    </ul>
</p>

<p>Only if you comply with these simple conditions you may continue to use my image without compensation.</p>

<p>Regards,</p>

<p>[Name]</p>
